/* Categories.module.css */
.dropdown {
  width: auto !important;
  height: auto !important;
  background-color: #fff !important;
  background: #fff !important;
  z-index: 1000000 !important;
}
.menuDropdown {
  display: block !important;
  /* max-height: calc(8 * 50px); */
  column-count: auto;
  /* column-width: 150px; */
  /* column-gap: 20px; */
  display: flex !important;
  flex-wrap: wrap !important;;
  flex-direction: row !important;
  overflow-y: auto;
  /* height: 200px !important; */
  background: #fff !important;
  z-index: 100000000000 !important;
  /* position: relative !important; */
  background-color: #fff !important;
}

.menuDropdownitems {
  font-size: 16px !important;
  padding: 10px 10px !important;
  display: inline-block;
  width: 100%;
  /* height: 20px; */
  break-inside: avoid;
  background-color: #fff !important;
}

.menuDropdownitems:hover {
  background-color: #eb2a24 !important;
  color: #00000084 !important;
}
